<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StretchLayoutSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D44C19B71E367A670044DD6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44C19CB1E367A670044DD6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44C19D61E367A680044DD6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
